<%- include('head'); %>
<body>
    <div class = "main">
        <div class = "overflow">
            <div class = "head">
                <a href = "/profile/" class = "active">клиент</a>
                <a href = "/order/" class = "hItem">закази</a>
                <a href = "/try-on.html" class = "hItem">примерка</a>
                <a href = "/balance.html" class = "hItem">баланс клиента</a>
                <a href = "/entered-materials.html" class = "hItem">поступивший материал</a>
                <a href = "" class = "hItem">склад</a>
                <a href = "" class = "hItem">услуги</a>
                <a href = "" class = "hItem">расходы</a>
                <a href = "" class = "hItem">сост ... склад</a>
            </div>
            <!-- <%- include('nav-bar', { active: 'active', notActive: 'hItem' }) %> -->
            <div class = "title">
                <h1>создать клиента</h1>
            </div>
            <form class = "formBox" action = "/profile/add-customer" method = "post" enctype = "multipart/form-data">
                <div class = "sectionCont">
                    <div class = "left">
                        <p>клиент</p>
                        <input name = "name" placeholder = "имя" type = "text" id = "client">
                        <p>адрес</p>
                        <input name = "addres" placeholder = "адрес" type = "text" id = "addres">
                        <p>телефон</p>
                        <input name = "telephone" placeholder = "+123456789" type = "text" id = "telephone">
                        <p>e-mail</p>
                        <input name = "e_mail" placeholder = "эл-адрес" type = "email" id = "email">
                        <p>статус клиента</p>
                        <select name = "statusClient" id = 'statusClient'>
                            <option value = "1">новый</option>
                            <option value = "2">постоянный</option>
                            <option value = "3">VIP</option>
                        </select>
                        <p>дата рождение</p>
                        <input name = "birthday" type = "date" id = "birthday">
                        <p>пасспортные данные</p>
                        <textarea name = "infoPassport" id = "infoPassport" cols="3" rows="5"></textarea>
                        <p>тип фигури</p>
                        <select name = "shape" id = 'shape'>
                            <option value = "1">квадратный</option>
                            <option value = "2">трапеция</option>
                        </select>
                        <p>размер</p>
                        <select name = "size" id = 'size'>
                            <option value = "s">s</option>
                            <option value = "m">m</option>
                            <option value = "xl">xl</option>
                        </select>
                    </div>
                    <div class = "right">
                        <p>заметки</p>
                        <textarea name = "notes" id = "notes" cols = "3" rows = "5"></textarea>
                        <p>источник информации</p>
                        <select name = "source" id = 'source'>
                            <option value = "1">реклама</option>
                            <option value = "2">другой</option>
                        </select>
                        <p>сотрудники</p>
                        <select name = "employee" id = 'employee'>
                            <% employees.forEach((item) => { %>
                                <option value = <%- item._id %>><%= item.name %></option>
                            <% }) %>
                        </select>
                        <p>фото клиента</p>
                        <input name = "photo" type = "file" id = "photo">
                    </div>
                </div>
                <div class = "buttonCont">
                    <a class = "cancel cancelHover" href = "/login/profile-page">отмена</a>
                    <input class = "submit buttonHover" type = "submit" value = "создать">
                </div>
            </form>
        </div>
    </div>
</body>
<script src = "./index.js"></script>
</html>