<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel = "stylesheet" href = "/css/style.css">
</head>
<body>
    <div class = "main">
        <form class = "formLogin" action = "/enter" method = "post">
            <label for = "email">пользователь</label>
            <input type = "text" name = "email">
            <label for = "password">пароль</label>
            <input type = "password" name = "password">
            <input class = "submit buttonHover" type = "submit" value = "вход">
        </form>
    </div>
</body>
</html>