* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
@media screen and (min-width: 1800px ) {
    .cont {
        font-size: 1.6em;
    }
    .main {
        font-size: 1.6em;
    }
}
:root {
    --bgc: rgba(255, 255, 255, 0.74);
    --shadow: 0px 8px 40px -23px rgba(0,0,0,0.75);
    --hover: rgb(206, 205, 205);
    --mainBgc: #b9b7b7;
    --green: #28a745;
    --darkGreen: #18722d;
    --lightBlue: #17a2b8;
    --darkBlue: #126c7a;
    --red: #dc3545;
    --darkRed: #861f29;
}
a {
    display: inline-block;
    color: initial;
    text-decoration: none;
    outline: none;
}
p {
    width: 100%;
    height: 100%;
    padding: 1em 0;
}
input {
    display: inline-block;
    padding: 0.6em;
    border-radius: 0.3em;
    border: none;
    box-shadow: 0px 3px 36px -17px rgba(0,0,0,0.75);
    outline: none;
    font-size: 1em;
}
input:focus {
    transition: ease-in-out 0.3s;
    background-color: rgb(136, 136, 136);
    color: rgb(255, 255, 255);
}
textarea {
    display: inline-block;
    padding: 0.6em;
    border-radius: 0.2em;
    border: none;
    box-shadow: 0px 3px 36px -17px rgba(0,0,0,0.75);
    outline: none;
    font-size: 1em;
}
select {
    display: inline-block;
    outline: none;
    background-color: #fff;
    font-size: 1em;
    padding: 0.6em;
    border-radius: 0.2em;
    border: none;
    box-shadow: 0px 3px 36px -17px rgba(0,0,0,0.75);

}
label {
    margin: 1em;
    font-size: 1.3em;
}
.buttonHover:hover {
    background-color: var(--darkGreen);
    cursor: pointer;
    transition: ease-in-out 0.2s;
}
.cancelHover:hover {
    background-color: var(--darkRed);
    cursor: pointer;
    transition: ease-in-out 0.2s;
}
.title {
    width: 100%;
    display: flex;
    color: #fff;
    text-shadow: var(--shadow);
    padding: 1em;
}
.sectionCont {
    display: flex;
    width: max-content;
    justify-content: flex-start;
    align-items: flex-start;
    height: max-content;
}
.buttonCont {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.cancel {
    display: inline-block;
    margin: 1em;
    font-size: 1.2em;
    background-color: var(--red);
    box-shadow: var(--shadow);
    padding: 1em 3em;
    color: #fff;
    border-radius: 0.3em;
}
.events {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
}
.center {
    width: max-content;
    height: 100%;
    display: flex;
    font-size: 1.6em;
    color: #000;
    transition: ease-out 0.3s;
    align-items: center;
    justify-content: center;
    margin-left: 1em;
}
.center:hover {
    color: var(--lightBlue);
}
.active {
    display: flex;
    text-align: center;
    font-size: 1.2em;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 1em;
    width: 100%;
    background-color: var(--lightBlue);
    color: #fff;
}
.active:hover {
    transition: ease-out 0.3s;
    background-color: var(--darkBlue);
}
.selectedItem {
    color: #fff;
    background-color: var(--green) !important;
}
.error {
    color: red;
    outline: red;
}
.warning {
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: red;
    padding: 0.5em 0;
}

.main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--mainBgc);
    align-items: center;
    justify-content: center;
}
    .box {
        display: flex;
        background-color: var(--bgc);
        width: 50%;
        justify-content: space-evenly;
        align-items: center;
        height: 50%;
        box-shadow: var(--shadow);
        flex-direction: column;
    }
        .aLogin{
            position: relative;
            font-size: 1.2em;
        }
    .formLogin {
        display: flex;
        padding: 5em;
        text-transform: capitalize;
        background-color: var(--bgc);
        justify-content: center;
        align-items: center;
        flex-direction: column;
        box-shadow: var(--shadow);

    }
        .submit {
            display: inline-block;
            margin: 1em;
            font-size: 1.2em;
            background-color: var(--green);
            padding: 1em 3em;
            color: #fff;
            border: none;
        }
    .cont {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        background-color: var(--mainBgc);

    }
        .head {
            display: flex;
            width: 100%;
            box-shadow: var(--shadow);
            background-color: var(--bgc);
            color: rgb(63, 63, 63);
        }
            .hItem {
                display: flex;
                text-align: center;
                font-size: 1.2em;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                padding: 1em;
                width: 100%;
            }
            .hItem:hover {
                transition: ease-out 0.3s;
                background-color: var(--hover);
            }
        .secondLayer {
            display: flex;
            width: 100%;
            background-color: var(--bgc);
            padding: 1em;
            box-shadow: var(--shadow);
        }
            .searchCont {
                display: flex;
                align-items: center;
                height: 100%;
                /* margin-right: 1em; */
            }
                .search {
                    display: inline-block;
                    border: none;
                    height: 100%;
                }
                .btn {
                    height: 100%;
                    border-radius: 0.3em;
                    display: flex;
                    align-items: center;
                    background-color: var(--lightBlue);
                    margin: 0 0.3em;
                    color: #fff;
                    padding: 0 1em;
                    cursor: pointer;
                }
                .btn:hover {
                    transition: ease-out 0.3s;
                    background-color: var(--darkBlue);
                }
    .overflow {
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        padding-bottom: 3em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }                
        .formBox {
            display: flex;
            flex-direction: column;
            width: max-content;
            margin-bottom: 1em;
            justify-content: flex-start;
            align-items: flex-start;
            height: max-content;
            background-color: var(--bgc);
            padding: 1em;
            border-radius: 0.2em;
        }
            .left {
                display: flex;
                flex-direction: column;
                margin-right: 2em;
            }
            .right {
                display: flex;
                flex-direction: column;
            }
        .orderCont {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            background-color: var(--bgc);
            padding: 1em;
            border-radius: 0.2em;
        }
            .section {
                display: flex;
                flex-direction: column;
                margin: 0 2em;
            }
    .spreadsheetCont {
        width: 100%;
        display: flex;
        padding: 1em 0;
        cursor: pointer;
        background-color: #fff;
    }
    .spreadsheetCont:hover {
        background-color: #feffb3;
    }
    .spreadsheetContTitle {
        width: 100%;
        display: flex;
        margin-top: 1em;
        padding: 0.5em 0;
        background-color: #f3eded;
    }
    .white {
        background-color: #f3eded;
    }
        .spreadsheetItem {
            display: flex;
            flex-direction: column;
            width: 100%;
            word-break: break-all;
        }
            .spreadsheetT {
                display: flex;
                font-weight: 600;
                color: rgb(0, 0, 0);
                padding: 0.8em;
            }
            .spreadsheetV {
                display: flex;
                padding: 0.8em;
                margin-bottom: 0.5em;
            }
            


       
    